body {
    width: 20rem;
    font-family: "Noto Sans KR", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #212529;
    color: #FFFFFF;
}

.container {
    margin: 1rem;
}

.row {
    width: 100%;
}

.row.first {
    margin-bottom: 1rem;
}

h1 {
    font-size: calc(1.2rem + 1vw);
}
